main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.loading {
  height: 80vh;
}

@media screen and (max-width: 925px ){
  main {
    width: 100vw;
  }
}