.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #0B0B45;
  border: none;
}

p {
  font-size: 15px;
}

span {
  font-weight: bold;
}