.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.post-image {
  max-width: 90vw;
}

.post-image img {
  max-width: 90vw;
  height: 500px;
  object-fit: cover;
}

.title-like {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title-like h4 {
  width: 50%;
}

div.date-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 50%
}

button {
  background-color: #0B0B45;
  border: none;
  right: 0;
}

p {
  font-size: 15px;
  line-height: 20px;
}

span {
  font-style: italic;
}