.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0B0B45;
  width: 100vw;
  height: 100vh;
}

header, footer {
  font-family: 'Codystar', cursive;
}
